<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Form Guest</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="css/styles.css" rel="stylesheet">
	<script src="js/vue.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="sample">
			<form v-if="!isSubmited" @submit.prevent="isSubmited = true">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  autocomplete="off" 
					v-model="email">
				</div>

				<div class="form-group">
					<label for="exampleInputPassword1">First Name</label>
					<input type="text" class="form-control" id="exampleInputPassword1" autocomplete="off" v-model="firstName">
				</div>

				<div class="form-group">
					<label for="exampleInputPassword1">Last Name</label>
					<input type="text" class="form-control" id="exampleInputPassword1" autocomplete="off" v-model="lastName">
				</div>

				<div class="form-group">
					<label for="exampleInputPassword1">Phone</label>
					<input type="text" class="form-control" id="exampleInputPassword1" autocomplete="off" v-model="phone">
				</div>

				<span>Guests</span>

				<button type="button" class="btn btn-primary" @click="addGuest">+</button>
				<hr>
				<div class="form-group" v-for="(item, key, index) in guests" 
				:key="key">
					<label for="" @dblclick="deleteGuest(key)">		Guest {{index + 1}}
					</label>
					<input type="text" class="form-control" id="exampleInputPassword1" autocomplete="off" v-model="guests[key]">
				</div>

				<button type="submit" class="btn btn-success">Submit</button>
			</form>
			<table class="table table-bordered" v-else>
				<tr>
					<td> Name </td>
					<td>{{ fullName() }}</td>
				</tr>
				<tr>
					<td> Email </td>
					<td>{{ email }}</td>
				</tr>
				<tr>
					<td> Phone </td>
					<td>{{ phone }}</td>
				</tr>
				<tr>
					<td>Guests</td>
					<td>
						<ul>
							<li v-for="(intem, key) in guests">
								{{ guests[key] }}
							</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
	</div>


	<script>
		let sample = new Vue({
			el: '.sample',
			data: {
				isSubmited: false,
				email: '',
				firstName: '',
				lastName: '',
				phone: '',
				guests:{},
				guestIterator: 0

			},
			methods: {
				fullName(){
					return this.firstName + ' ' + this.lastName
				},
				addGuest(){
					this.guestIterator++;
					//this.guests[this.guestIterator] = '';
					this.$set(this.guests, this.guestIterator, '')
				},
				deleteGuest(i)
				{
					this.$delete(this.guests, i)
				}
			},
			
		});
	</script>
</body>
</html>
